<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Cocktails", "#", class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add new cocktails", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>


<div class="cocktails">
	<% @cocktails.each do |c|  %>
		<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path c.photo.key, height: 300, width: 400, crop: :fill %>')">

  		<p><%= link_to c.name, cocktail_path(c.id), class: "text-white" %></p>
		</div>
	<% end %>
</div>